.App {
  text-align: center;
}

.App div {
  display: flex;
  justify-content: center;
}

p, button {
  text-align: center;
  font-size: 1.5em;
  margin: 0.2em;
  padding: 0.25em 0.5em;
  background: #eee;
  border: 1px solid #eee;
  border-radius: 5px;
}

p {
  max-width: 520px;
  margin: 0.2em auto;
}